{#
/**
 * @file
 * Korone's theme implementation to display a single page.
 *
 * Header file
 */
#}
<!--Home Section-->
<div class="nav-container">
    <nav>
      <div class="nav-bar">
		<div class="Logo">	  
		{{ page.header }}
		</div>
        <div class="headerRight">
          <div class="headerRightTop">		 
			 <div class="request-button-right"><!--<a href="/request-consultation" target="_blank" class="btn-default btn cmspdfdownload webform-button--submit button button--primary js-form-submit form-submit">Request a Consultation</a>--></div>
				 
            <!--Search-->
                 {{ page.header_right_top }}
            <!--Search End--> 
            
          </div>
          <!--Main Nav-->
          <div class="headerRightBopttom menu">                     
            
		  </div>
          <!--Main Nav--> 
        </div>
      </div>
    </nav>
  </div>
<!--Home Section End-->