{#
/**
 * @file
 * Korone's theme implementation to display a single page.
 *
 * Header file
 */
#}
<!--Header-->
<div class="nav-container kenticoHeader">

  <nav>
  <div class="headertop">
 <div class="container">
 <div class="col-md-8"><ul><li><a href="#"><img src="themes/custom/korone/images/chat-icon.png" alt=""/><span>Chat</span></a> </li> <li><a href="#"><img  src="themes/custom/korone/images/sales-icon.png" alt=""/><span>Sales  5.545.552.545</span></a></li><li><a href="#"><img  src="images/support-icon.png" alt=""/><span>Support  5.545.552.545</span></a></li></ul></div>
  <div class="col-md-4"><a href="/request-consultation">Request a Consultation</a> </div>
  </div>
 </div>
  <div class="container">
    <div class="nav-bar">
      <div class="Logo"><a href="/"><img src="themes/custom/korone/images/logo.jpg" width="343" height="82" alt=""/></a></div>
       <div class="Logo kenticoLogo"><img src="themes/custom/korone/images/kentico-logo.png" alt=""/></div>
    </div>
    </div>
  </nav>
</div>
<!--Header End-->