
    
  <section class="responsiveContent responsiveTopOut  Best-in-Class-Systems-Included-bg">
    <div class="container">
    <h2>Best-in-Class Systems Included</h2>
    <div class="clearboth">
    <div class="col-md-4">
      <img src="/themes/custom/korone/images/Patient-Journey-Images/Best-in-Class-img-1.jpg" width="434" height="206"> 
      <h2>Thereaputic Area Website</h2>
      </div>
    <div class="col-md-4">
      <img src="/themes/custom/korone/images/Patient-Journey-Images/Best-in-Class-img-2.jpg" width="434" height="206"> 
      <h2>Marketing Automation Platform</h2>
      </div>
    <div class="col-md-4">
      <img src="/themes/custom/korone/images/Patient-Journey-Images/Best-in-Class-img-3.jpg" width="434" height="206"> 
      <h2>Reporting Dashboard</h2>
      </div>    
    </div>
    
    <p class="textAlinCenter">The Agile Patient Journey uses rich content, automation, personalization and segmentation to advance<br>

healthcare consumers to appointment setting, diagnostic capture, and appropriate care.
</p>

<div class="centerBox">
  <h2>Overall Value Proposition</h2>
  <img class="mb30" alt="korcomptenz" src="/themes/custom/korone/images/Patient-Journey-Images/Best-in-Class.png" width="474" height="76">
  

  <p>The Agile Patient Journey is a turnkey technology and content solution that addresses the acquisition journey without the overhead and complexity of similar systems.  KORCOMPTENZ’s secure, scalable architecture allows organizations to launch quickly and effectively, generating real results with the ability to integrate additional data, systems, and ongoing advocacy after launch.</p>
   </div>
    </div>
    </section>
    
    
  <section class="responsiveContent responsiveTopOut  PatientJourneyKeyBenefits">
    <div class="container">
    <div class="col-md-5">
    <h2>Why Patient Journeys?</h2>
    <p>Journeys are one of the hottest trends in the marketing technology industry, promising superior results and reduced costs through a combination of more personalized, consistent engagement with customers and prospects, and improved automation.  The numbers are staggering: 54% greater return on marketing investment, 56% more cross- and up-sell revenue, 3.5 times greater referral revenue, and an 18 times faster average sales cycle for starters.</p>
    </div>
    <div class="col-md-6">
    <h2>Key Benefits</h2>
    <ul>
    <li>Acquire more patients at a higher return on investment, and increase targeted outreach by evaluating and segmenting patients with automated follow up</li>
    <li>Decrease your time to market and enhance over time including the ability to add additional service lines and integrate with external systems like CRMs and EMRs</li>
    <li>Increase your ability to measure campaign effectiveness and return on investment with improved reporting over traditional web metrics</li>
    <li>Improve outcomes and reduce readmissions over time with expanded patient lifecycle support for post-surgical campaigns</li>
    </ul>
    </div>
    </div>
    </section>       
    
  <section class="responsiveContent responsiveTopOut  PatientJourneySixReasons">
    <div class="container">
    <h2>Six Reasons for Patient Journeys</h2>
    <div class="col-md-4">
      <img src="/themes/custom/korone/images/Patient-Journey-Images/Six-Reasons-1.png" width="369" height="273"> 
      <h3>Return On <br>
Marketing Investment</h3>
      </div>
      
    <div class="col-md-4">
      <img src="/themes/custom/korone/images/Patient-Journey-Images/Six-Reasons-2.png" width="369" height="273"> 
      <h3>Improvement In <br>
Customer Service Costs</h3>
      </div>
      
      <div class="col-md-4">
      <img src="/themes/custom/korone/images/Patient-Journey-Images/Six-Reasons-3.png" width="369" height="273"> 
      <h3>Positive Mentions In <br>
Social Media</h3>
      </div>
      
      <div class="col-md-4">
      <img src="/themes/custom/korone/images/Patient-Journey-Images/Six-Reasons-4.png" width="369" height="273"> 
      <h3>Revenue From <br>
Customer Referrels</h3>
      </div>
      
      <div class="col-md-4">
      <img src="/themes/custom/korone/images/Patient-Journey-Images/Six-Reasons-5.png" width="369" height="273"> 
      <h3>Improvement In <br>
Average Sales Cycle</h3>
      </div>
      
      <div class="col-md-4">
      <img src="/themes/custom/korone/images/Patient-Journey-Images/Six-Reasons-6.png" width="369" height="273"> 
      <h3>Cross-Sell+<br>
Up-Sell Revenue</h3>
      </div>  
      
      <div class="clearboth">
      <img src="/themes/custom/korone/images/Patient-Journey-Images/color-box-1.png" width="22" height="21"> With Customer Journey
      <img src="/themes/custom/korone/images/Patient-Journey-Images/color-box-2.png" width="22" height="21"> Without Customer Journey </div>
    </div>
    </section>
      
 <section class="responsiveContent responsiveTopOut UniqueOpportunityOut">
    <div class="container">
    <h2>A Unique Opportunity</h2>
    <div class="col-md-4">
    <span>1</span>
    <h3>Turnkey Delivery</h3>
    Deploy quickly and <br>
upgrade over time
    </div>
    
    <div class="col-md-4">
    <span>2</span>
    <h3>Increase Patient <br>
Volume</h3>
Increase conversions <br>
with automation
    </div>
    
    <div class="col-md-4">
    <span>3</span>
    <h3>Maximize ROI</h3>
Rapidly generate more <br>
targeted traffic
    </div>
    </div>
    </section>
    
   <section class="responsiveContent responsiveTopOut PatientJourneyWhitepaperDownload">
    <div class="container">
    <div class="PatientJourneyWhitepaperDownloadIn">
    <div class="col-md-2"><img src="/themes/custom/korone/images/Patient-Journey-Images/PatientJourneyWhitepaperDownload-img.jpg" width="206" height="218"></div>
    <div class="col-md-7">
    <h2>Download our whitepaper</h2>
    <p>Learn more about what it means to be agile and our strategic approach to the customer journey</p>
    <div class="clearboth">
	{{ content }} 
    </div>
    </div>

    <div class="col-md-3" >
    <a href="/webinar" title="Watch the Webinar NOW">
    <img src="/themes/custom/korone/images/Patient-Journey-Images/watch-the-webinar-now-img.jpg" width="143" height="107"> 
    <span>Watch the<br>Webinar NOW</span>
    </a>
    </div>
    </div>
    </div></section> 