{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}
{% include '@korone/header.html.twig' %} 
<!--Content-->
<div class="main-container innerpage">
  <!--Inner Banner-->
  <section class="image-bg   page-title-2  innerBanner parallax">
    <div class="background-image-holder"><img alt="Background Image" class="background-image" src="/themes/custom/korone/images/inner-banner.png" /></div>
    <div class="container">
      <h2>Thank You</h2>
      
    </div>
  </section>
  <!--Inner Banner End-->
  <section class="responsiveContent responsiveTopOut thankYouPageout">
    <div class="container">
      <div class="responsiveTop thankYouPage">
	  
        <p>Thank you for your interest in our solutions. You can download the Kentico CMS Quickstart Guide using the link below.</p>
		<div class="clearfix">

		<a href="/sites/default/files/Korcomptenz-Kentico-CMS-Quickstart-Guide.pdf" class="btn download-now" onclick="window.open(this.href, '', 'resizable=no,status=yes,location=yes,toolbar=yes,menubar=yes,fullscreen=yes,scrollbars=yes,dependent=yes,width=300,left=20,height=200,top=20'); return false;">Download Now</a>
		</div>
        <p>We are looking forward to learning more about your unique needs and demonstrating our capabilities. We will be in touch soon, but please feel free to contact our sales experts directly.</p>
        <div class="col-md-12">
       <div class="thankYouPageIn"> 
 <!-- <div class="col-md-4 thankImg">
 <img src="/themes/custom/korone/images/Clara-img.png" >
<h3>Clara D’Silva</h3>
<p><a href="callto:973-601-8787">+ 973-601-8787 </a><br>
<a href="mailto:Clara.DSilva@korcomptenz.com">Clara.DSilva@korcomptenz.com</a></p>
</div>
 <div class="col-md-4 thankImg">
 <img src="/themes/custom/korone/images/Prakash-img.png" >
<h3>Prakash Anthony</h3>
<p><a href="callto:973-601-8787">+ 973-601-8787</a><br>
<a href="mailto:Prakash.Anthony@korcomptenz.com">Prakash.Anthony@korcomptenz.com</a></p>
</div>  -->
<div class="thankImg">
 <img src="/themes/custom/korone/images/vivek.png" >
<h3>Jay Presand</h3>
<p><a href="callto:973-601-8776">+1 973 601-8776</a><br>
<a href="mailto:sales@korcomptenz.com">sales@korcomptenz.com</a></p>
</div>
</div>

<div class="social-media">

<ul>
<li><a href="#" target="_blank"><img src="/themes/custom/korone/images/facebook.png"></a></li>
<li><a href="#" target="_blank"><img src="/themes/custom/korone/images/twitter.png"></a></li>
<li><a href="#" target="_blank"><img src="/themes/custom/korone/images/google-plus.png"></a></li>
<li><a href="#" target="_blank"><img src="/themes/custom/korone/images/linkedin.png"></a></li>
<li><a href="#" target="_blank"><img src="/themes/custom/korone/images/pinterest.png"></a></li>
</ul>
</div>

</div>
      </div>
      
    </div>
    
  </section>
  
  
  
  
</div>
<!--Content End-->

{% include '@korone/footer.html.twig' %}
